<template name="BTaskUI">
    <table class="table table-condensed table-borderless">
        <tbody>
        {{#each pMarks}}
        <tr>
            <td>{{text}}</td>
            <td>{{refCount}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <form class="form-inline" id="budgetForm">
        <div class="form-group">
            <label for="budgetAnswer">The minimum budget that your family need to go on vacation to Kitzbuhel is</label>
            <div class="input-group">
                <div class="input-group-addon">euro</div>
                <input type="text" class="form-control" id="budgetAnswer" placeholder="Amount">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" disabled="true" id="submitRes">Submit</button>
    </form>
</template>