<template name="start">
    <br>
    <p id="templateStart">In this HIT you will be given a 2-page description of a ski-resort followed by a YES/NO question
        regarding the content of the text. Your goal is to read the text carefully and determine the correct answer to the
        question. Please note, that to answer the question correctly you need to read the entire text and pay attention to details.</p>
    <p>After accepting the HIT, you will be provided with a detailed task description and particular question which you need
        to answer. After that, you will be given a short quiz and a 1-paragrahp preliminary test to check your understanding.
        If you fail the quiz after two attempts you will not be able to proceed to the actual task and will need to return the HIT.</p>
    <p>The declared reward of $0.50 will be paid to you only if you pass the quiz but whether you answer the specified main
        question correctly or not. However, if you answer the question correctly you will receive a $3 bonus. The correct
        accomplishment of the preliminary test will give you an additional bonus of $0.50.</p>


</template>
