<template name="thankyou">
    <br>
    <p id="templateThankyou"><strong>Your answer was successfully submitted. Thank you.</strong></p>
    <br>
    <form class="survey">
        <div class="form-group">
            <p>Was there anything confusing about this HIT?</p>
            <textarea class="form-control" rows="3" name="confusing"></textarea>
        </div>
        <div class="form-group">
            <p>Do you have any feedback for us?</p>
            <textarea class="form-control" rows="3" name="feedback"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit the HIT</button>

        <!--<p>Was there anything confusing about this HIT?</p>-->
        <!--<textarea name="confusing" rows="3"></textarea><br/>-->
        <!--<p>Do you have any feedback for us?</p>-->
        <!--<textarea name="feedback" rows="3"></textarea><br/>-->
        <!--<button type="submit">Submit the HIT</button>-->
    </form>
</template>